@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

html {
    overflow-y: scroll;
}

body {
    font-family: "Pretendard", sans-serif;
}

h1, h2{
    /*font-family: "Concert One", "Pretendard";*/
}

button, input, optgroup, select, textarea {
    font-family: "Pretendard", sans-serif;
}

code, kbd, samp, pre {
    font-family: "JetBrains Mono", "Pretendard", sans-serif;
    font-weight: 300;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em
}

.badge-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: -40px;
    margin-bottom: 30px;
    gap: 3px;
}

.tech-icon {
    width: 2em;
    cursor: pointer;
    border-radius: 10px;
}

.about-tr {
    background-color: #36363B;
    color: #fff;
    text-align:center;
    width: 80px;
}

.badge-container img {
    margin-bottom: -20px;
}

.keyword-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    width: 90%;
    overflow-wrap: break-word;
    color: white;
}

@media (max-width: 768px) {
    .keyword-text {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .keyword-text {
        font-size: 14px;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #5F3AFF;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    padding: 5px;
    font-size: 10px;
    font-weight: 600;
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.font-emphasis {
    color: #A78BFA;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: #555555;
    text-decoration-thickness: 0.1em;
}

.font-emphasis:hover{
    background-color: #7C3AED;
    font-weight: 500;
    border-radius: 0.1em;
    color: #fff;
    text-decoration: none;
}

.font-emphasis-bg {
    background-color: #7C3AED;
    font-weight: 500;
    border-radius: 0.1em;
    color: #fff;
}

.font-emphasis-bg-gray {
    background-color: #555555;
    font-weight: 500;
    border-radius: 0.1em;
    color: #fff;
}

.font-emphasis-underline {
    text-decoration: underline;
    text-decoration-color: #7C3AED;
    text-decoration-thickness: 0.2em;
}

