<article class="mt-4 flex max-w-prose flex-row items-center border-b border-neutral-200 pb-4 dark:border-neutral-700">
    <div class="flex-grow">
        <a class="text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral"
            href="{{ .RelPermalink }}">
            <span class="text-xl font-semibold">{{ .Title | emojify }}</span>
        </a>
    </div>
    <div class="flex-shrink-0 ml-4 text-sm text-neutral-500 dark:text-neutral-400">
        {{ .Date.Format "2006-01-02" }}
    </div>
</article>
