<article class="mt-4 flex max-w-prose flex-row items-center border-b border-neutral-200 pb-3 dark:border-neutral-700">
    <div style="margin-right: 20px">
        <a class="text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral"
            href="{{ .RelPermalink }}">
            <span class="text-lg">{{ .Title | emojify }}</span>
        </a>
    </div>

    <div class="text-sm text-neutral-500 dark:text-neutral-400">
        {{ partial "custom-article-meta.html" . }}
    </div>
</article>
